* {
  margin: 0;
}

.Logo {
  color: rgb(0, 255, 81);
  font-size: 70px;
  cursor: pointer;
}

nav,
ul {
  display: flex;
  align-items: center;
}

nav {
  padding: 40px;
  background-color: black;
  height: 70px;
  font-family: "Poppins", sans-serif;
}

ul {
  margin-left: auto;
  list-style: none;
  gap: 100px;
  color: aliceblue;
  font-size: 40px;
}

li {
  width: 130px;
  text-align: center;
}

a:link,
a:visited {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  font-size: 50px;
}

.Circle {
  height: 60px;
  width: 60px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

svg {
  position: relative;
  left: 1px;
}
